@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');

body {
  font-family: "Source Sans Pro";
  
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 99%;
  margin: 0 auto;
  max-height: 720px;
  grid-auto-rows: 1fr;
  row-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
}

.länkar {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.länkar:hover, .länkar2:hover {
  color: #facf0f;
}

#Namn {
  font-size: 20px;
  height: 50px;
  color: #000000;
  display: flex;
  align-items: center;
}

#nav {
  width: 500px;
  margin-bottom: -30px;
  display: flex;
  gap: 35px;
  margin-right: 100px;
  transition: transform 0.5s ease-out;
  
}

.länkar.active {
  color: #facf0f;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  /* adjust this value as needed */
  right: 20px;
  /* adjust this value as needed */
  transition: transform 0.3s ease-in-out;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #000000;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open .hamburger-line:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 7px);
}

.hamburger.open .hamburger-line:nth-of-type(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

#hemcontainertitel {

  margin: 0;
  margin-top: 100px;
}

#hemcontainertext {
  margin: 0;
}

#projectknapp {
  margin-top: 100px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #facf0f;
  color: rgb(8, 8, 8);
  height: 50px;
  width: 180px;
  font-weight: bold;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);
}

#techstackdiv {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#aboutp {
  margin: 0;
  font-size: 18px;
  width: 400px;
  color: gray;
}

#aboutheader {
  margin-bottom: 10px;
  font-size: 40px;
}

#abouttext {
  width: 600px;
  font-size: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #facf0f;
  opacity: 0.5;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.projektArbeten {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 220px;
  width: 300px;
}

.projektknappar {
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  height: 20px;
  color: rgb(0, 0, 0);
  background-color: #facf0f;
}

#kort1 {
  background-image: url(./img/projektkort1.png);
  background-size: contain;
  background-position: -5px;
}

#kort2 {
  background-image: url(./img/dynamiskappbild2.jpg);
  background-size: contain;
  background-position: -5px;

}

#kort3 {
  background-image: url(./img/comingsoon.jpg);
  filter: blur(2px);
  background-size: contain;
  background-position: -5px;
}

#projektbild {
  margin-top: 150px;
  height: 300px;
  font-size: 30px;
}

#projekth1 {
  margin: 0;
  font-size: 45px;
  margin-top: 100px;
  text-align: center;
}

#projektinfo {
  font-size: 18px;
  color: gray;
  width: 700px;
}

#projektinfo1 {
  height: 100%;
  width: 100%;
}

.sliderdiv {
  margin-top: 50px;
  margin-bottom: 50px;
 
  
  max-height: 170vh;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
;
}

.slider {
 
 
  max-height: 400px;
  max-width: 1000px;
  
}
#projektinfo1div{

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#projectinfo1kort{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projectinfobild1{
 
 
  background-size: contain;
  background-repeat: no-repeat;
  
  width: 700px;
  height: 500px;
  margin: 50px;
}
#projectinfoimg1{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.projektinfotext{
 max-width: 500px;
  margin: 0;

  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.slidertext{

  max-width: 700px;
  
gap: 20px;

  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;
}
.livedemoknapp{
  
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #facf0f;
  color: rgb(8, 8, 8);
  height: 50px;
  width: 180px;
  font-weight: bold;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);
}
.demodiv{
width: 100%;
;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
  
}
.länkar2{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);

}
.gåtbksknapp{

  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border: 2px solid #facf0f;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 140px;
  font-weight: bold;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);

}


#litenbild {
  object-fit: cover;
}

.sverigebild {
  transition: 0s;
  background-image: url(./src/img/språkknapp\ sverige.png);
}

.englandbild {
  background-image: url(./src/img/istockphoto-1211686337-170667a.jpg);
}

#språkknapp {
  border: none;
  position: absolute;
  top: 200px;
  right: 70px;
  border: none;
  height: 20px;
  width: 30px;
  background-size: cover;
  transition: 1s;
}

.språkknapp:hover {
  opacity: 0.7;
  scale: 0.7;

}

.språkknapp:active {
  transform: scale(0.9);
}

i.arbete,
i.utbildning {
  color: #525252;
  font-size: 15px;
}

.skillcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}

.skills {
  background-color: rgb(128, 128, 128);
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#språk {
  font-size: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#erfarenheter {
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}

#arbetserfarenhetdiv {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#aboutsection2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#aboutheader {
  margin: 0;
}

#abouttext {
  font-size: 18px;
  margin: 0;
}

#abouttextdiv {
  background-color: rgb(255, 255, 255);
}

.arbeteserfanhet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.arbete {
  margin: 0;
  width: 500px;
  font-size: 20px;
}

.utbildningar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.utbildningarp {
  margin: 0;
  font-size: 18px;
  width: 500px;
}

.utbildning {
  margin: 0;
  width: 500px;
  font-size: 20px;
}

#abouth1 {
  font-size: 40px;
}

#contactp {
  font-size: 18px;
  width: 600px;
  color: gray;
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

#mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#uppknapp {
  font-size: 30px;
  margin: 0;
   margin-left: 70vw; 
   height:20px
 
}

#footer {
  position: absolute;
  bottom: 200px;
  left: 10px;
  width: 85px;
  height: 210px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  background-color: white;

}

/*----------------------------------------------------*/
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
  }

  .hamburger.open {
    display: flex;

  }

  #nav {
    font-size: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    flex-shrink: 0;

  }

  #nav.open {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 300px;
    width: 300px;
    margin-right: -10px;
    z-index: 9999;
    transform: translateY(0);
  }

  .länkar {
    font-size: 24px;
    margin: 10px 0;
  }
  #hemcontainertitel {
    width: 300px;
    text-align: center;
  }

  #hemcontainertext {
    width: 300px;
    text-align: center;
  }

  #språkknapp {
    border: none;
    position: absolute;
    top: 120px;
    right: 40px;
    border: none;
    height: 17px;
    width: 25px;
    background-size: cover;
  }

  #projectknapp {
    margin-top: 100px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #facf0f;
    color: white;
    height: 40px;
    width: 150px;
    font-weight: bold;
  }

  #abouth1 {
    font-size: 40px;
  }

  #aboutp {
    margin: 0;
    font-size: 16px;
    width: 250px;
    color: gray;
  }

  #aboutheader {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .utbildningarp {
    margin: 0;
    font-size: 18px;
    width: 500px;

  }

  .utbildning {
    margin: 0;
    width: 300px;
    font-size: 18px;
  }


  #abouttext {
    font-size: 16px;
    width: 300px;
  }

  #abouttextcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #motionuppknapp {
    margin: 0;
  }

  #erfarenheter {
    margin-top: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

  }

  .utbildningarp {
    margin: 0;
    font-size: 16px;
    width: 300px;

  }

  .utbildning {
    margin: 0;
    width: 300px;
    font-size: 18px;
  }

  .arbete {

    margin: 0;
    width: 250px;
    font-size: 16px;

  }

  #projekth1 {
    margin: 0;
    font-size: 40px;
    margin-top: 100px;



    text-align: center;
  }

  .projektArbeten {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    height: 150px;
    width: 205px;
  }

  #projektinfo {
    font-size: 16px;
    color: gray;
    width: 300px;
  }

  #contactp {
    font-size: 16px;
    width: 300px;
    color: gray;
  }

  #uppknapp {

    margin-top: 200px;
    
  }

  #footer {

    position: absolute;
    bottom: 200px;
    /* distance from the bottom edge of the viewport */
    left: 10px;
    /* distance from the left edge of the viewport */
    width: 85px;
    height: 210px;
    border-radius: 0px 20px 20px 0px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    background-color: white;
  }
  #projektinfo1div{
    max-width: 370px;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #projectinfo1h1{
    font-size: 30px;
    width: 300px;

  }
  #projectinfobild1{
 
 
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 300px;
    height: 300px;
    margin: 50px;
  }
  #projectinfoimg1{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .projektinfotext{
    width: 300px;
    margin: 0;
  
    font-size: 18px;
    
    margin-bottom: 50px;
  }
  .slidertext{
  
   max-width: 390px;
    gap: 10px;
    padding: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  .livedemoknapp{
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #facf0f;
    color: rgb(8, 8, 8);
    height: 40px;
    width: 120px;
    font-weight: bold;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);
  }
  .demodiv{
  max-width: 100%;
  padding: 0;
  padding-top: 40px;

  padding-bottom: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
  }
  .länkar2{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
  
  }
  .gåtbksknapp{
  
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  
    background-color: #ffffff;
    border: 2px solid #facf0f;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 110px;
    font-weight: bold;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.1);
  
  }
  
}