body{
  
}
#root {
  width: 1500px;
  margin: 0 auto;
  height: 720px;
  
  
}
.Maincontainer {

  height: 720px;
  display: grid;
  min-width: 99%;
  grid-auto-rows: 1fr;

  row-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#Headercontainer {


 
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;


  display: grid;
  width: 100, 5%;
  grid-auto-rows: 1fr;




}

#profilbild {


  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
}

.länkar {
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: gray;
}

.länkar:hover {
  opacity: 0.7;


  color: black;

}

#bild {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;

}

#Namn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: #525252;
}

#nav {

  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 40px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}
#Hemcontainer{

  grid-column-start: 1;
grid-column-end: 13;
grid-row-start: 2;
grid-row-end: 8;
margin-left: 10px;
margin-right: 10px;



overflow: hidden;
background: url(./img/v748-toon-103.jpg);
/*background-image: url(../img/v748-toon-103.jpg);*/
background-size: cover;




display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

font-size: 30px;



}
#Projectcontainer{

    grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 8;
  margin-left: 10px;
  margin-right: 10px;
  
  
  
  overflow: hidden;
  background: url(./img/v748-toon-103.jpg);
  /*background-image: url(../img/v748-toon-103.jpg);*/
  background-size: cover;
  
  
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  font-size: 30px;
  
  
  
  }
  #slider{
    border: 8px solid black;
    width: 800px;
    border-radius: 20px;
  }

.sverigebild{
  transition: 0s;
  background-image: url(./src/img/språkknapp\ sverige.png);
}
.englandbild{

 
  background-image: url(./src/img/istockphoto-1211686337-170667a.jpg);

}
.fadein {
  transition: opacity 5s ease-in-out;
  opacity: 1;
}
#fadein2 {
  transition: opacity 5s ease-in-out;
  opacity: 1;
}


#språkknapp{

border: none;

margin-right: 40px;
margin-top: -150px;

height: 20px;
width: 30px;
transition: all 2s;
transition: all 2s ease-in-out;
align-self:last baseline;




background-size: cover;

}
.språkknapp:hover {
opacity: 0.7;
scale: 0.9;
transition: 1s;
}
p {
  color: rgb(83, 83, 83);
}



#projectknapp {
  
  margin-top: 20px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  

}

#projectknapp:hover {
  opacity: 0.7;
  scale: 0.9;
  transition: 1s;
}
#footer {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  width: 85px;
  border-radius: 0px 20px 20px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  position: absolute;
  top: 370px;
  left: 8px;
  background-color: white;


}

.fa {

  margin: 10px;



  width: 45px;
  height: 45px;


  text-align: center;

  text-decoration: none;


}


.fa:hover {
  opacity: 0.7;
  scale: 1.2;
  transition: 1s;
}

.fa-linkedin {
  background: #000000;
  color: white;
  border-radius: 20%;
  height: 40px;
  width: 40px;
}

.fa-github {

  color: rgb(5, 5, 5);
}

.fa-instagram {

  color: rgb(8, 8, 8);
}